table{
    border-collapse: separate;
    border-spacing: 5px 0;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 30px;
    
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
th,td {
    padding: 8px 2px;
}

#middle_section{
    background-color: white;
    
}