
*{
 list-style: none;
 text-decoration: none;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f7ab0a;
}

.sideBar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #fa7a49;
    user-select: none;
}
.sideBar ul li{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: whitesmoke;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255,.1);
    border-bottom: 1px solid black;
}
 ul li:hover a{
    padding-left: 42px;
    transition: .2s;
}
.sideBar ul a i{
    margin-right: 16px;
}
.sideBar ul li a{
    color: whitesmoke;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position:absolute;
    background: #042331;
    cursor: pointer;
    border-radius: 3px;
    /* border: 1px solid white; */
}
label #btn{
    left: 40px;
    top: 10px;
    color: white;
    font-size: 35px;
    padding: 6px 12px;
    transition: all .5s;
}

#myChart {
    margin-left: 200px;
    width: 50%;
    max-height: 350px;
    border-radius: 20px
}
#myChart1 {
    margin-left: 10px;
  
    border-radius: 20px
}

#middle_section{
    background-color: white;
    width: 70%;
    margin-top:20px;
    border-radius: 20px;
    
}
#middle_section1 {
    background-color: white;
    width: 70%;
    margin-top: 20px;
    border-radius: 20px;

}
#error_assignment{
    font-size: 20px;
    border-radius: 5px;
    padding:5px;
   
    
}

#AddPupilForm {
    margin-top:100px;
    text-align: center;
    width: 100%;
    margin-left:30px;
    font-size: 30px;
}
#AddPupilForm  input[type = "text"]{
   width: 90%;
   height:30px;
   text-align: center;
   margin-right: 5%;
}
.pupil_tables{
    width:90%;
}